body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

.login{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size:14px;
}

main{
    clear: left;
    width: 100%;
}

.confirm{
    text-align: center;
}

.zentai{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
}

h2{
    text-align: center;
    border-bottom: solid 1px #31A263;
}

.name,.mail,.password,.picture,.comments{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 40px;
}

.button{
    text-align: center;
}

.edit{
    display: inline-block;
}

.edit_button{
    border: 1px solid lightgray;
    padding: 6px 10px 4px 10px;
    color: white;
    background-color: lightgray;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    margin-bottom: 20px;
}

.toroku{
    display: inline-block;
}

.submit_button{
    padding: 6px 10px 4px 10px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    margin-bottom: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}
